
DijkstraBE_OpenDSS/obj/Debug/App.g.cs
DijkstraBE_OpenDSS/obj/Debug/App.g.i.cs
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.application
*.CopyComplete
*.cache
*.baml
*.p7s
DijkstraBE_OpenDSS/packages/QuickGraph.3.6.61119.7/lib/net4/CodeContracts/QuickGraph.Contracts.dll
*.dll
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.csproj.FileListAbsolute.txt
DijkstraBE_OpenDSS/.vs/ExecutorOpenDSS/v15/Server/sqlite3/db.lock
DijkstraBE_OpenDSS/.vs/ExecutorOpenDSS/v15/Server/sqlite3/storage.ide
DijkstraBE_OpenDSS/.vs/ExecutorOpenDSS/v15/Server/sqlite3/storage.ide-shm
DijkstraBE_OpenDSS/.vs/ExecutorOpenDSS/v15/Server/sqlite3/storage.ide-wal
DijkstraBE_OpenDSS/bin/Debug/app.publish/ExecutorOpenDSS.exe
DijkstraBE_OpenDSS/bin/Debug/Auxiliares.xml
DijkstraBE_OpenDSS/bin/Debug/Configuracoes.xml
DijkstraBE_OpenDSS/bin/Debug/dss_sharp.xml
DijkstraBE_OpenDSS/packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.XML
DijkstraBE_OpenDSS/packages/QuickGraph.3.6.61119.7/QuickGraph.3.6.61119.7.nupkg
DijkstraBE_OpenDSS/packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Serialization.XML
DijkstraBE_OpenDSS/packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Graphviz.XML
DijkstraBE_OpenDSS/packages/QuickGraph.3.6.61119.7/lib/net4/QuickGraph.Data.XML
DijkstraBE_OpenDSS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DijkstraBE_OpenDSS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DijkstraBE_OpenDSS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cs
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.Properties.Resources.resources
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.pdb
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.g.resources
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.exe.manifest
DijkstraBE_OpenDSS/obj/Debug/ExecutorOpenDSS.exe
DijkstraBE_OpenDSS/bin/Debug/ExecutorOpenDSS.application
DijkstraBE_OpenDSS/bin/Debug/ExecutorOpenDSS.exe
DijkstraBE_OpenDSS/bin/Debug/ExecutorOpenDSS.exe.config
DijkstraBE_OpenDSS/bin/Debug/ExecutorOpenDSS.exe.manifest
DijkstraBE_OpenDSS/bin/Debug/ExecutorOpenDSS.pdb
